<footer class="page-footer {{ community.site_theme }}">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">{{ community.community_name }}</h5>
          <p class="grey-text text-lighten-4">{{ community.community_desc }}</p>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">{{ community.footer_one }}</h5>
          <ul>
            <li><a class="white-text" href="{{ community.footer_one_link_one }}">{{ community.footer_one_title_one }}</a></li>
            <li><a class="white-text" href="{{ community.footer_one_link_two }}">{{ community.footer_one_title_two }}</a></li>
            <li><a class="white-text" href="{{ community.footer_one_link_three }}">{{ community.footer_one_title_three }}</a></li>
            <li><a class="white-text" href="{{ community.footer_one_link_four }}">{{ community.footer_one_title_four }}</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">{{ community.footer_two }}</h5>
          <ul>
            <li><a class="white-text" href="{{ community.footer_two_link_one }}">{{ community.footer_two_title_one }}</a></li>
            <li><a class="white-text" href="{{ community.footer_two_link_two }}">{{ community.footer_two_title_two }}</a></li>
            <li><a class="white-text" href="{{ community.footer_two_link_three }}">{{ community.footer_two_title_three }}</a></li>
            <li><a class="white-text" href="{{ community.footer_two_link_four }}">{{ community.footer_two_title_four }}</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="{{ community.site_theme_text }}-text text-lighten-3" href="http://asetalias.in">ALiAS community</a>
      </div>
    </div>
  </footer>
