{%load staticfiles%}
<!DOCTYPE html>
<html>
<head>
  <title>{%block title%}{%endblock%}</title>
  <link href="{%static "css/base.css"%}" rel="stylesheet">
</head>
<body>
  <div id="header">
    <span class="logo">bookmark</span>
    {%if request.user.is_authenticated %}
    <ul class="menu">
      <li {% if section == "Option 1"%}class="selected"{%endif%}>
        <a href="{%url "dashboard"%}">Option 3</a>
      </li>
      <li {%if section == "Option 2"%} class="selected"{%endif%}>
        <a href="#">Option 3</a>
      </li>
      <li {%if section == "password_change"%} class="selected"{%endif%}>
        <a href="{%url 'password_change'%}">password_change</a>
      </li>
      {%endif%}

      <span class="user">
        {% if request.user.is_authenticated%}
          Hello {{ request.user.first_name }},
          <a href="{% url 'logout'%}">Log-out</a>
          {%else%}
          <a href="{% url 'login'%}">Log-in</a>
          {%endif%}
        </span>
      </div>




  <div id="content">
    {%block content%}
    {%endblock%}
  </div>
</body>
</html>
