{% autoescape off %} Hi {{ user.username }}, You are registered to receive PyDelhi event update. Please click on the link
to verify your registration. Verficating account lets you access the dashboard. You can unsubscribe from the emails at any
time. {{ protocol }}://{{ domain }}{% url 'reset' uidb64=uid token=token %} If clicking the link above doesn't work, please
copy and paste the URL in a new browser window instead. Sincerely, The {{ community.community_name }} Team To unsubscribe:
{{ protocol }}://{{ domain }}{% url 'unsubscribe' username=user.username unsubscribe=unsubscribe %} {% endautoescape %}