{%extends 'base.html'%}
{%block title%}Log-in{%endblock%}
{%block content%}
<h1>Log-In</h1>
{%if forms.errors%}
<p>
  your username and password didn't match
  please try again
</p>
{%else%}
<p> Please, use the following forms to log in. if you don't have an account <a href="{% url 'register'%}">register here</a> </p>
{%endif%}
<div class="login-form">
<form action="{%url 'login'%}" method="post">
  {{form.as_p}}
  {% csrf_token%}
  <input type="hidden" name="next" value="{{ next}}" />
  <p><input type="submit" value="Log-in"></p>
</form>
</div>
{%endblock%}
