{%extends "base.html"%}
{%block title%}Log-In{%endblock%}

{%block content%}
  <h1>Log-in</h1>
  <p> Please, use the following forms to log in. if you don't have an account <a href="{% url 'register'%}">register here</a> </p>
  <form action="." method="post">
    {{form.as_p}}
    {% csrf_token %}
    <p><input type="submit" value="Log-in"></p>
  </form>
{%endblock%}
