<!-- including the _base.html templates -->
{% extends 'components/_base.html' %}
<!-- referring to the block in base.html -->
{%block content%}
<!-- signup form  -->
<div class="container">
    <h1 class='section_header'>Sign Up</h1>
    <div id='sign_up_form_section'>
        <form method="POST" class="post-form">{% csrf_token %}
          <!-- here form is the input coming from signup/views.py -->
            {{ form.as_p }}
            <button type="submit" class="btn-large waves-effect waves-light {{ community.site_theme_text }}" onClick="alert('Sign up successful');">Save</button>
        </form>
    </div>
</div>
{%endblock%}
